# Sphinx documentation
docs/_apidoc/
docs/_build/
docs/_autosummary/
build/
dist/
*.egg-info
Pipfile
Pipfile.lock

*.orig

__pycache__/
*.pyc
*.tar
*.zip

qgis_plugin_CI_testing/i18n
qgis_plugin_CI_testing/resources_rc.py

.tokens

.idea
.DS_Store
.venv
.vscode/settings.json
dev_precommit_black.log

htmlcov
junit
.coverage
coverage.xml
