name: Documentation Builder

on:
  push:
    branches: [master]
    paths:
      - 'docs/**/*'
      - '.github/workflows/docs_builder.yml'
      - 'qgispluginci/**/*.py'
    tags: "*"

env:
  PYTHON_VERSION: 3.8

jobs:
  build-docs:

    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"

    steps:
    - name: Get source code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: "pip"

    - name: Cache project dependencies (pip)
      uses: actions/cache@v3.2.2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install project requirements
      run: |
        python -m pip install -U pip setuptools wheel
        python -m pip install -U -r requirements/documentation.txt

    - name: Build doc using Sphinx
      run: sphinx-build -b html docs docs/_build/html

    - name: Deploy to GitHub Pages
      run: |
        python -m pip install ghp-import
        ghp-import --force --no-jekyll --push docs/_build/html
